# Model files
app/models/Sinhala-To-Tamil/whisper/
app/models/Sinhala-To-Tamil/mbart50/

app/models/Tamil-To-Sinhala/whisper/
app/models/Tamil-To-Sinhala/mbart50/

# Environment files
speechchain-lk-env